{#
/**
 * @file
 */
#}
<div class="panel panel-default">
    <table class="table table-condensed">
        <thead>
        <th>Deployment Event ID</th>
        <th>Estimated Deployment Date</th>
        <th>Estimated Retrieval Date</th>
        <th>Actual Deployment Date</th>
        <th>Actual Retrieval Date</th>
        <th>Lat/Lng</th>
        <th>Depth</th>
        <th>Habitat Type:</th>
        <th>Station ID</th>
        </thead>
        <tbody>
        {% for deployment in deployments %}
            <tr>
                <td>{{ deployment.deploymentId }}</td>
                <td>{{ deployment.intendedDeploymentDate is empty ? "N/A" : deployment.intendedDeploymentDate is a_date ? deployment.intendedDeploymentDate | date("m/d/Y") : deployment.intendedDeploymentDate }}</td>
                <td>{{ deployment.intendedRecoveryDate is empty ? "N/A" : deployment.intendedRecoveryDate is a_date ? deployment.intendedRecoveryDate | date("m/d/Y") : deployment.intendedRecoveryDate }}</td>
                <td>{{ deployment.actualDeploymentDate is empty ? "N/A" : deployment.actualDeploymentDate is a_date ? deployment.actualDeploymentDate | date("m/d/Y") : deployment.actualDeploymentDate }}</td>
                <td>{{ deployment.actualRecoveryDate is empty ? "N/A" : deployment.actualRecoveryDate is a_date ? deployment.actualRecoveryDate | date("m/d/Y") : deployment.actualRecoveryDate }}</td>
                <td>{{ deployment.decimalLatitude }}/{{ deployment.decimalLongitude }}</td>
                <td>{{ deployment.depthInMeters }} meters</td>
                <td>{{ deployment.habitat }}</td>
                <td>{{ deployment.stationId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
