{#
/**
 * @file
 */
#}
{% if expedition %}
    <div class="panel panel-default">
        <div class="panel-heading">My Arms Project</div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Project ID: </td>
                    <td>{{ expedition.expedition.expeditionId }}</td>
                </tr>
                <tr>
                    <td>Principal Investigator: </td>
                    <td>{{ expedition.principalInvestigator }}</td>
                </tr>
                <tr>
                    <td>Contact Name/Email: </td>
                    <td>{{ expedition.contactName }} / {{  expedition.contactEmail }}</td>
                </tr>
                <tr>
                    <td>Funding Source: </td>
                    <td>{{ expedition.fundingSource }}</td>
                </tr>
                <tr>
                    <td>Envisioned Duration: </td>
                    <td>{{ expedition.envisionedDuration }} years</td>
                </tr>
                <tr>
                    <td>Geographic Scope: </td>
                    <td>{{ expedition.geographicScope }}</td>
                </tr>
                <tr>
                    <td>Goals: </td>
                    <td>{{ expedition.goals }}</td>
                </tr>
                <tr>
                    <td>Lead Organization: </td>
                    <td>{{ expedition.leadOrganization }}</td>
                </tr>
                <tr>
                    <td>Project Identifier: </td>
                    <td>{{ expedition.expedition.expeditionBcid }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Deployments</div>
        <table class="table">
            <tbody>
            {%  for deploymentId in expedition.deployments %}
                <tr>
                    <td><a data-toggle="modal" data-target="#deploymentModal" href="#" data-deployment-id="{{ deploymentId }}"
                        data-load-url="{{ path('arms.deployment', {'project_id': expedition.expedition.expeditionId, 'deployment_id': deploymentId}) }}">{{ deploymentId }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="deploymentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align: center;"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery('#deploymentModal').on('show.bs.modal', function(e) {
            var loadurl = jQuery(e.relatedTarget).data("load-url") + " #deploymentMetadata";
            var deployment = jQuery(e.relatedTarget).data("deployment-id");
            jQuery(this).find('.modal-title').html(deployment);
            jQuery(this).find('.modal-body').load(loadurl);
        });
    </script>
{% endif %}
