{#
/**
 * @file
 */
#}
{{ attach_library('arms/bootstrap-sortable') }}
{% if expedition %}
    <div class="panel panel-default">
        <div class="panel-heading">My Arms Project</div>
        <table class="table">
            <tbody>
            <tr>
                <td>Project ID:</td>
                <td>{{ expedition.expedition.expeditionId }}</td>
            </tr>
            <tr>
                <td>Principal Investigator:</td>
                <td>{{ expedition.principalInvestigator }}</td>
            </tr>
            <tr>
                <td>Contact Name/Email:</td>
                <td>{{ expedition.contactName }} / {{ expedition.contactEmail }}</td>
            </tr>
            <tr>
                <td>Funding Source:</td>
                <td>{{ expedition.fundingSource }}</td>
            </tr>
            <tr>
                <td>Envisioned Duration:</td>
                <td>{{ expedition.envisionedDuration }} years</td>
            </tr>
            <tr>
                <td>Geographic Scope:</td>
                <td>{{ expedition.geographicScope }}</td>
            </tr>
            <tr>
                <td>Goals:</td>
                <td>{{ expedition.goals }}</td>
            </tr>
            <tr>
                <td>Lead Organization:</td>
                <td>{{ expedition.leadOrganization }}</td>
            </tr>
            <tr>
                <td>Project Identifier:</td>
                <td>{{ expedition.expedition.expeditionBcid }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <table class="table table-condensed sortable">
            <thead>
            <th>Deployment Event ID</th>
            <th data-dateformat="MM-DD-YYYY">Estimated Deployment Date</th>
            <th data-dateformat>Estimated Retrieval Date</th>
            <th data-dateformat>Actual Deployment Date</th>
            <th data-dateformat>Actual Retrieval Date</th>
            <th>Lat/Lng</th>
            <th>Depth</th>
            <th>Habitat Type:</th>
            <th>Station ID</th>
            </thead>
            <tbody>
            {% for deployment in expedition.deployments %}
                <tr>
                    <td><a data-toggle="modal" data-target="#deploymentModal" href="#"
                           data-deployment-id="{{ deployment.deploymentId }}"
                           data-load-url="{{ path('arms.deployment', {'project_id': deployment.expeditionId, 'deployment_id': deployment.deploymentId}) }}">{{ deployment.deploymentId }}</a>
                    </td>
                    <td>{{ deployment.intendedDeploymentDate is empty ? "N/A" : deployment.intendedDeploymentDate is a_date ? deployment.intendedDeploymentDate | date("m/d/Y") : deployment.intendedDeploymentDate }}</td>
                    <td>{{ deployment.intendedRecoveryDate is empty ? "N/A" : deployment.intendedRecoveryDate is a_date ? deployment.intendedRecoveryDate | date("m/d/Y") : deployment.intendedRecoveryDate }}</td>
                    <td>{{ deployment.actualDeploymentDate is empty ? "N/A" : deployment.actualDeploymentDate is a_date ? deployment.actualDeploymentDate | date("m/d/Y") : deployment.actualDeploymentDate }}</td>
                    <td>{{ deployment.actualRecoveryDate is empty ? "N/A" : deployment.actualRecoveryDate is a_date ? deployment.actualRecoveryDate | date("m/d/Y") : deployment.actualRecoveryDate }}</td>
                    <td>{{ deployment.decimalLatitude }}/{{ deployment.decimalLongitude }}</td>
                    <td>{{ deployment.depthInMeters }} meters</td>
                    <td>{{ deployment.habitat }}</td>
                    <td>{{ deployment.stationId }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="deploymentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align: center;"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery('#deploymentModal').on('show.bs.modal', function (e) {
            var loadurl = jQuery(e.relatedTarget).data("load-url") + " #deploymentMetadata";
            var deployment = jQuery(e.relatedTarget).data("deployment-id");
            jQuery(this).find('.modal-title').html(deployment);
            jQuery(this).find('.modal-body').html("loading...");
            jQuery(this).find('.modal-body').load(loadurl);
        });
    </script>
{% endif %}
