{#
/**
 * @file
 */
#}
{% if deployment %}
    <div class="panel panel-default" id="deploymentMetadata">
        <div class="panel-heading">Deployment Metadata:</div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Deployment Event ID: </td>
                    <td>{{ deployment.deploymentId }}</td>
                </tr>
                <tr>
                    <td>Project ID: </td>
                    <td><a href="{{ path('arms.expeditions.detailById', {'expedition_id': expedition.expeditionId }) }}">{{ expedition.expeditionId }}</a></td>
                </tr>
                <tr>
                    <td>Estimated Deployment Date: </td>
                    <td>{{ deployment.intendedDeploymentDate is empty ? "N/A" : deployment.intendedDeploymentDate is a_date ? deployment.intendedDeploymentDate | date("m/d/Y") : deployment.intendedDeploymentDate }}</td>
                </tr>
                <tr>
                    <td>Estimated Retrieval Date: </td>
                    <td>{{ deployment.intendedRecoveryDate is empty ? "N/A" : deployment.intendedRecoveryDate is a_date ? deployment.intendedRecoveryDate | date("m/d/Y") : deployment.intendedRecoveryDate }}</td>
                </tr>
                <tr>
                    <td>Actual Deployment Date: </td>
                    <td>{{ deployment.actualDeploymentDate is empty ? "N/A" : deployment.actualDeploymentDate is a_date ? deployment.actualDeploymentDate | date("m/d/Y") : deployment.actualDeploymentDate }}</td>
                </tr>
                <tr>
                    <td>Actual Retrieval Date: </td>
                    <td>{{ deployment.actualRecoveryDate is empty ? "N/A" : deployment.actualRecoveryDate is a_date ? deployment.actualRecoveryDate | date("m/d/Y") : deployment.actualRecoveryDate }}</td>
                </tr>
                <tr>
                    <td>Lat/Lng: </td>
                    <td>{{ deployment.decimalLatitude }}/{{ deployment.decimalLongitude }}</td>
                </tr>
                <tr>
                    <td>Depth: </td>
                    <td>{{ deployment.depthInMeters }} meters</td>
                </tr>
                <tr>
                    <td>Habitat Type: </td>
                    <td>{{ deployment.habitat }}</td>
                </tr>
                <tr>
                    <td>Station ID: </td>
                    <td>{{ deployment.stationId }}</td>
                </tr>
                <tr>
                    <td>Deployment Event GUID: </td>
                    <td><a href="http://n2t.net/{{ expedition.expedition.entityBcids[0].identifier }}{{ deployment.deploymentId }}">http://n2t.net/{{ expedition.expedition.entityBcids[0].identifier }}{{ deployment.deploymentId }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endif %}
